# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

# Inserts a blank line between shell prompts
add_newline = true

command_timeout = 500

# Disable the package module, hiding it from the prompt completely
[package]
disabled = true

[directory]
truncation_length = 0
truncate_to_repo = false
home_symbol = "~"
